
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@500&display=swap');
* {
  box-sizing: border-box; padding: 0; margin: 0;
}

html {
  height: 100%;
  width: 100%;
}

/* estilizado y posicionado del logo del sol*/
.logo {
    cursor: pointer;
    width: 10%;
    border-radius: 50%;
    border-style: solid;
    border-width: thin;
    display: inline;
    margin: auto;
    border-color: black;
    background-color: white;
    margin-left: 50%;
    }

.As {
  text-align: center;
  position: relative;
  font-style: normal;
  font-family: "Montserrat";
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 20px;
}

/* fondo del body con color personalizado tipo trama */
body {
  width: 100%;
  background-color:silver;
  background-color:black;
  background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;
}

/* estilo de las tarjetas */
@media only screen and (min-width: 0em){
.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.elemcard {
  order: 1;
  flex-basis: 100%;
  height: 300px;
}

@media only screen and (min-width:55em){
.content{
    flex-flow: nowrap;
  }

.elemcard {
  width: 50%;
 }
}

.twitch {
  height: 80px;
  width: 90px;
  margin-left: 0;
  border-radius: 15%;
}

.contenedor {
width:100%;
max-width: auto;
/*max-width: 1000px;*/
margin: 10px;
box-sizing: content-box;
align-items: center;
}

.header {
  background-image: none;
  width: auto;
}

.contenido {
  background-color: #FFFFF0;
}

.arti {
  background-color: rgba(255, 153, 51, 1);
  border-radius: 10px;
  width: 100%;
  text-align: center;
  margin: 10px;
}

.elemcard {
    border-radius: 10px;
    background: linear-gradient(#833ab4, #fd1d1d, #fcb045);
    border-style: solid;
    border-width: 1.5px;
    border-color: #000000;
    box-shadow: -1px 0px 15px 3px rgb(0 0 0 / 75%);
    box-sizing: border-box;
    position: relative;
}

.footer {
  background: #12203E;
  color: #fff;
  width: 100%;
  height: auto;
  position: absolute;
}

h1 {
  font-size: 25px;
  font-family: "Montserrat";
  text-align: center;
}

h2 {
  font-size: 22px;
  font-family: "Montserrat";
  text-align: center;
}

h3 {
  font-size: 22px;
  font-family: "Montserrat";
  text-align: center;
}

p {
  font-size: 20px;
  font-family: "Montserrat";
  text-align: center;
}

a {
text-decoration-line: none;
text-decoration-color: #818181;
text-decoration-style: solid;
}

.sidebar {
  height: 100%;
  width: 0; /* se cambia con JS */
  position: fixed;
  z-index: 1; /* se queda arriba */
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden; /* desactiva el scroll horizontal */
  padding-top: 60px;
  transition: 0.5s; /* 0.5 segundos de transition al sidebar */
}

/* links del sidebar */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* hover en links de navegación */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Posiciona y da estilo al botón de cerrar */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Botón que abre la sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}


/* lleva la página de contenido a la derecha al abrir el sidebar */
#main {
  transition: margin-left .5s; /* Transición */
  padding: 10px;
}

/* en pantallas de altura menor a 450px cambia el estilo del sidebar (menos padding y menor tamaño de letra) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
